<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <th:block th:replace="~{common/template::library}">

    </th:block>
</head>
<body>
<div th:replace="~{common/template::header}">
</div>
<h1>Danh sách tài khoản</h1>

<button type="button" onclick="window.location.href='/user/create'">Thêm mới</button>
<table border="1" style="width: 500px">
    <tr>
        <th>ID</th>
        <th>Họ</th>
        <th>Tên</th>
        <th>SĐT</th>
        <th>Tuổi</th>
        <th>Email</th>
    </tr>

  <tr th:each="user : ${user}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.lastname}"></td>
    <td th:text="${user.firstname}"></td>
    <td th:text="${user.phoneNumber}"></td>
    <td th:text="${user.age}"></td>
    <td th:text="${user.email}"></td>
  </tr>
  <tr th:if="${#lists.isEmpty(user)}">
    <td colspan="5" class="text-muted">Không có tài khoản nào</td>
  </tr>
</table>

<p id="message" th:text="${message}"></p>
</body>
<script>
  setTimeout(function () {
    document.getElementById("message").style.display = "none";
  }, 3000)
</script>
</body>
</html>